version: "3.9"

services:
  etcd1:
    image: quay.io/coreos/etcd:v3.5.9
    container_name: etcd1
    command:
      - /usr/local/bin/etcd
      - --name=etcd1
      - --data-dir=/etcd-data
      - --listen-client-urls=http://0.0.0.0:2379
      - --advertise-client-urls=http://etcd1:2379
    ports:
      - "2379:2379"
    networks:
      - micro_net

  dtm1:
    image: yedf/dtm:1.17
    container_name: dtm1
    depends_on:
      - etcd1
    command:
      [
        "--microservice=etcd",
        "--etcd-hosts=etcd1:2379",
        "--grpc-port=36790",
        "--http-port=36789"
      ]
    ports:
      - "36789:36789"
      - "36790:36790"
    networks:
      - micro_net

networks:
  micro_net:
    driver: bridge